# Ignore video files and captions files
*.ts
*.srt
*.mp4

# Ignore spec files
*.spec

# Ignore temporary text files
data.txt
data_2.txt
temp_data.txt

# Ignore unnecessary folders
.idea/
__pycache__/
venv/
build/
dist/

# Ignore test python files
test.py

# Ignore settings file
*.json