# Ignore .ts, .srt files, and .spec files
*.ts
*.srt
*.spec

# Ignore temporary text files
data.txt
data_2.txt
temp_data.txt

# Ignore unnecessary folders
.idea/
__pycache__/
venv/

# Ignore test python files
test.py